@import "fonts.css";
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --bg-color:thistle;
    --button-color: #CF0F3A;
    --button-hover-color: #e45070;
    --postal-card-height:11cm;
    --postal-card-width:22cm;
    --postal-card-tab-height:4cm;
    --postal-card-bg:#EEEEEE;
    --invitation-height:9.5cm;
    --invitation-width:21cm;
    --invitation-bg:#cfae93;
    --info-bg:white;
}

html {
    width: 100%;
    height:100%;
}

section {
    height: 100%;
}

.hidden {
    opacity:0;
    transition: 0.5s;
}

.no-display {
    display: none !important;
}

.display {
    display: block !important;
}

.move-right {
    left: 55% !important;
    transition: 0.5s;
}
.move-left {
    left: 45% !important;
    transition: 0.5s;
}
.move-left-out {
    left: -50% !important;
    transition: 0.8s;
}
.rotate-top {
    /* transform-origin: left; */
    transform: translate(-50%, -65%) rotate(10deg) !important;
    transition: 0.8s;
}
.rotate-bottom {
    /* transform-origin: left; */
    transform: translate(-50%, -35%) rotate(-10deg) !important;
    transition: 0.8s;
}
.show-top {
    z-index: 999999 !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    cursor: default !important;
}

#names {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index:999;
}
#names span {
    font-size: 26px;
    font-family: 'Shadows Into Light', cursive;
}

/**********************/
/* LOADING            */
/**********************/
#loading {
    position: absolute;
    
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 

    z-index:9999;
    background-color:white;
    width: 100%;
    height: 100%;
    transition:0.5s;
}
#loading img {
    position: absolute;
    top:50%;
    left:50%;    
    transform: translate(-50%, -50%); 

    background-color:white;
}
/**********************/
/* POSTAL CARD        */
/**********************/
#main {
    background-color: var(--bg-color);
    border-radius:20px;
}

#postal-card-wrap {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); z-index:4;
}
#postal-card-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#postal-card-back {
    background:lightgray;
    z-index:0;
    height:calc(var(--postal-card-height) - 0.2cm);
    width:var(--postal-card-width);

}
#postal-card {
    height:var(--postal-card-height);
    width:var(--postal-card-width);
    background:var(--postal-card-bg);
    clip-path: polygon(0 0, 4% 37%, 96% 37%, 100% 0, 100% 100%, 0 100%);
    margin:0 auto;
    z-index:4;
}
#tab {
    height:calc(var(--postal-card-tab-height) * 2);
    width:var(--postal-card-width);
    background:white;
    clip-path:polygon(0 50%, 100% 50%, 96% 100%, 4% 100%);
    cursor:pointer;
    transition: 0.8s;
    margin:0 auto;
   
}
#tab-wrap {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    transition: 0.5s;

    position: absolute;
    top: calc(50.4% - var(--postal-card-height) / 2);
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index:5;
}

/* Effects */
#tab-wrap:hover {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.158));
}
.opened {
    clip-path:polygon(0 50%, 100% 50%, 96% 0, 4% 0) !important;
}
.wrap-noshadow {
    filter: none !important;
}

/**********************/
/* INVITATION         */
/**********************/
 #invitation {
    clip-path: polygon(100% 40%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 60%, 97% 58%, 96% 56%, 95% 52%, 95% 47%, 96% 44%, 97% 42%);
    height:var(--invitation-height);
    width:var(--invitation-width);
    background-color:var(--invitation-bg);
    z-index:4;
}

.noisy {
    background-image: url(img/whitenoise2.png);
}
.wood {
    background-image: url(img/wood.png);
}

#invitation-bottom {
    width:100%;
    height:98%;
    background-image:url(invitation-bottom.png);
    background-repeat:no-repeat;
    background-position:bottom;
}
#invitation-wrap {
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index:3;
    cursor: pointer;
}

#invitation-text {
    position: relative;
    top: 70;
    text-align: center;
    margin-bottom: -143;
}
#invitation-text .names {
    display:block;
    font-size: 50px;
    font-family: 'Hijrnotes';
}
#invitation-text .info {
    font-size: 20px;
    font-family: 'MrsEavesItalic';
    margin-top:20px;
    letter-spacing: 3.4;
}
#invitation-text .info .date {
    padding-right:10px;
}
#invitation-text .info .year {
    padding-left:10px;
    border-left:1.5px solid black;
}
#invitation-text hr {
    width: 300px;
    text-align: center;
    border: none;
    background-color: black;
    color: #ccc;
    height: 1px;
} 

/**********************/
/* INFO               */
/**********************/
#info {
    height:calc(var(--invitation-height) - .1cm);
    width:calc(var(--invitation-width) - .1cm);
    background-color:var(--info-bg);
    background-image:url(info.png);
    background-size: 101.5%;

    position: absolute;
    top: 50%;
    left: 49.90%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    cursor:pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#info-text, #summary-text {
    padding-top:1px;
    padding-left:230px;
}
#info-text h1 {
    font-family: 'Ekaterina';
    font-size:38px;
    font-weight: 400;
    margin-bottom:10px;
    padding-left: 100px;
}

#info-text #i18n-welcome {
    font-family: 'MrsEavesItalic';
}

#info #ceremony {
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 60px;
}

#info-text .msg {
    font-family: 'MrsEavesItalic';
    letter-spacing: 0.8;
    font-size:16px;
    text-align:center;
    line-height:24px;
    width:400px;
    display:block;
}
#info-text .bye {
    font-family: 'AvantGarde';
    text-align:center;
    width:290px;
    display:block;
    margin:30px 0px 30px 0px;
    font-weight: 700;
    padding-left: 50px;
    line-height: 20px;
    font-size: 13px;
}
#info-text .address {
    font-family: 'MrsEavesItalic';
    font-size:14px;
    text-align:center;
    width:400px;
    display:block;
}

/**********************/
/* SUMMARY            */
/**********************/
#summary {
    height:calc(var(--invitation-height) - .1cm);
    width:calc(var(--invitation-width) - .1cm);
    background-color:var(--info-bg);
    background-image:url(summary.png);
    background-size: 101.5%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 49.90%;
    transform: translate(-50%, -50%); 
    cursor:pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#summary-text h1 {
    font-family: 'Hijrnotes';
    font-size: 40px;
    font-weight: 400;
    margin-bottom:5px;
    padding-left: 35px;
}
#summary-text .msg {
    font-family: 'MrsEavesItalic';
    letter-spacing: 0.8;
    font-size:16px;
    text-align:center;
    line-height:24px;
    width:400px;
    display:block;
}
#summary-text .date {
    letter-spacing: 3.2;
    font-family: 'AvantGarde';
    text-transform: uppercase;
    text-align:center;
    width:400px;
    display:block;
    font-size: 14px;
    margin:10px 0px 30px 0px;
    font-weight: 700;
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:10px 0px 10px 0px;
}
#summary-text .address {
    font-family: 'MrsEavesItalic';
    font-size:14px;
    text-align:center;
    width:400px;
    display:block;
}
#summary-text .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-left:-205px
}
#summary-text .info h1 {
    font-family: 'Hijrnotes';
    font-size: 30px;
    font-weight: 400;
    line-height:24px;
    margin:0px;
    padding-left: 0px; 
    display:block;
    height: 40px;
    text-align: center;
}
#summary-text .info .hour {
    font-family: 'AvantGarde';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding-left:110px;
}

/**
*/
.i18n-assistancebutton {
    border: none;
    position: absolute;
    bottom: 20;
    right: 20;
    cursor: pointer;
    background: var(--button-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;
    border-radius: 50%;

    width: 20vh;
	font-size:3vh;
    padding: 30px 15px 30px 15px;
    font-family: 'AvantGarde';
    font-weight: bold;
    transition:0.1s ease-in-out;
	z-index:1000000;
    text-align: center;
}
.i18n-assistancebutton:hover {
    background: var(--button-hover-color);
}
.i18n-assistancebutton:focus {
    outline: none;
}


/**/
#assistance {
    z-index:999999999;

    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
#assistance-panel {
    padding: 40px 60px 40px 60px;
    background: white;
    position: absolute;
    top: 50%;
    left: 49.90%;
    transform: translate(-50%, -50%); 
    width:50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;

}
#assistance-grid {
    padding-top: 30px;
    font-family: 'AvantGarde';

    /* padding: 40px 60px 40px 60px;
    background: white;
    position: absolute;
    top: 50%;
    left: 49.90%;
    transform: translate(-50%, -50%);  */
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);

}

.assistance-loading {
    background-image: url(img/assistance_wait.gif);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: 60px;
}
.assistance-loaded {
    background-image: url(img/success.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 80px;
}
.assistance-error {
    background-image: url(img/error.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 80px;
}

#i18n-assistance, #i18n-assistancewish {
    font-family: 'AvantGarde';
    font-size:20px;
}

#actions {
    text-align: right;
}

#i18n-back, #i18n-send {
    background-color: white;
    padding:15px 30px 15px 30px;
    border-radius: 0px;
    border:0px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
    cursor: pointer;
    display:inline-block;
}

#i18n-send {
    background-color:#CF0F3A;
    color: white;
}

.guest-name {
    font-weight: bold;
    text-decoration: underline;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--button-hover-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* */
@media only screen and (max-width: 600px) {
    #assistance-panel {
        width: 100% !important;
        height: 100% !important;
        transform: none !important;
        top:0 !important;
        left:0 !important;
        padding: 30px !important;
    }
    #i18n-assistance, #i18n-assistancewish {
        font-family: 'AvantGarde';
        font-size:20px !important;
        padding:10px !important;
    }
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}